.logo-img,.img-talk{
    width: 34px;
}
.mail-oudom{
    text-align: center;
    color: white;
    padding: 26em;
    align-items: center;
}
.sologon-pic{
    width: 34px;
    padding: 7em;
}
.container-en{
    width: 100;
    height: 12px;
    background-color: grey;
}
.logo-capital{
    width: 34px;
}